# dependencies
/node_modules

# next.js
/.next/
/out/

# production
/build

# env files
.env.local
.env*.local

# debug
npm-debug.log*

# misc
.DS_Store
*.tgz

# vercel
.vercel

# claude
.claude/
tsconfig.tsbuildinfo
